/* Breakpoint mixins */

@mixin for-mobile-layout {
    @media (max-width: $padded-break-narrow) {
      @content;
    }
  }
  
  @mixin for-narrow-layout {
    @media (min-width: $padded-break-narrow) {
      @content;
    }
  }
  
  @mixin for-normal-layout {
    @media (min-width: $padded-break-normal) {
      @content;
    }
  }
  
  @mixin for-wide-layout {
    @media (min-width: $padded-break-wide) {
      @content;
    }
  }
  

  // Buttons 

  @mixin btn-1($clr1, $clr2) {
    font-family: livvic-semibold;
    font-size: 1rem;
    background-color: transparent;
    color: $clr1;
    border: 2px solid $clr1;
    border-radius: 2em;
    padding-block: 0.8em;
    padding-inline: 2em;
    line-height: 1.5em;
    white-space: nowrap;
    transition: .5s;

    &:hover {
        background-color: $clr1;
        color: $clr2;
    }
  }