@font-face {
    font-family: livvic-semibold;
    src: url(../../font/livvic/Livvic-SemiBold.ttf);
}

@font-face {
    font-family: livvic-bold;
    src: url(../../font/livvic/Livvic-Bold.ttf);
}

@font-face {
    font-family: livvic-medium-italic;
    src: url(../../font/livvic/Livvic-MediumItalic.ttf);
}

@font-face {
    font-family: outfit;
    src: url(../../font/outfit/static/Outfit-SemiBold.ttf);
}

