// COLOR PALETTE
$main-bgc: #014e56;
$dark-bgc: #012f34;
$black1: #002529; //background
$black2: #012f34; //text
$white1: #ffffff;
$white2: #ccd5d6;
$white3: #99a8a9;
$accent1: #f67e7e;
$accent2: #79c8c7;


// SIZES 

// LAYOUT
$layoutPadding: 32px;

// LAYOUT BREAKPOINTS
$break-narrow: 600px;
$break-normal: 900px;
$break-wide: 1400px;

$padded-break-narrow: $break-narrow + $layoutPadding * 2;
$padded-break-normal: $break-normal + $layoutPadding * 2;
$padded-break-wide: $break-wide + $layoutPadding * 2;
