// COLOR PALETTE
$hero-bgc: #014e56;
$main-bgc: #004047;
$dark-bgc: #012f34;
$menu-bgc: #2c6269;
$black1: #002529; //background
$black2: #012f34; //text
$white1: #ffffff;
$white2: #ccd5d6;
$white3: #99a8a9;
$accent1: #f67e7e;
$accent2: #79c8c7;


// SIZES 
$hero-height-wide: 700px;
$hero-height-narrow: 567px;

$hero-padding-wide: 250px;
$hero-padding-narrow: 224px;
$hero-padding-mobile: 160px;

// LAYOUT
$layoutPadding: 24px;

// LAYOUT BREAKPOINTS
$break-narrow: 600px;
$break-normal: 700px;
$break-wide: 1110px;

$padded-break-narrow: $break-narrow + $layoutPadding * 2;
$padded-break-normal: $break-normal + $layoutPadding * 2;
$padded-break-wide: $break-wide + $layoutPadding * 2;
